<nav class="navbar navbar-dark bg-black mb-4">
    <div class="container">
        <a class="navbar-brand splinefont">task list</a> 
        <a href="/" class="navbar-brand">Task List Generator</a>
       </div>

</nav>